<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Yelp</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <header>
        <nav>
          <section>
          <ul class="hideMobile">
            <li>Write a Review</li>
            <li>Events</li>
            <li>Talk</li>
          </ul>
          <ul class=navRight>
            <li>Log in</li>
            <li>Sign up</li>
          </ul>
        </section>
      </nav>
      <section class="topSection">
         <img src="assets/img/logo.jpg" alt="Yelp logo">
        <section>
         <form>
           <input type="text" name="" value="" placeholder="Find burgers, barbers, spas, handymen...">
           <input type="text" name="" value="Boston, MA 2108" placeholder="">
           <button type="button" name="Search"><i class="fas fa-search"></i></button>
         </form>
        <ul class="underSearch hideMobile">
          <li><i class="fas fa-utensils"></i>Restaurants</li>
          <li><i class="fas fa-cocktail"></i>Nightlife</li>
          <li><i class="fas fa-tools"></i>Home Services<i class="fas fa-sort-down"></i></li>
          <li><i class="fas fa-truck"></i>Delivery</li>
        </ul>
        </section>
        <section class="bottomSection">
          <p>Tatte Bakery & Cafe</p>
          <p>Photo by Sophie P.</p>
        </section>
      </section>
    </header>
    <section class="hideMobile">
      <h2>Yelp Boston</h2>
      <ul>
        <li>San Fransisco</li>
        <li>New York</li>
        <li>San Jose</li>
        <li>Los Angeles</li>
        <li>Chicago</li>
        <li><i class="fas fa-search"></i>More Cities</li>
      </ul>
    </section>
    <section class="businesses">
      <h2>Hot & New Businesses</h2>
      <section>
        
          <img src="assets/img/rabbit.jpeg" alt="menu">
          <h3>Kor Tor Mor</h3>
          <ul>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star-half-alt"></i></li>
            <li>7 Reviews</li>
          </ul>
          <p>Thai</p>
          <p>Davis Square</p>
          <p><i class="fab fa-gripfire"></i>Opened 5 weeks ago</p>
      </section>
      <section>
        
          <img src="assets/img/rabbit.jpeg" alt="Counter">
          <h3>Flatbread Company Brighton</h3>
          <ul>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star-half-alt"></i></li>
            <li><i class="far fa-star"></i></li>
            <li>11 Reviews</li>
          </ul>
          <p>$$ Pizza</p>
          <p>Boston, MA</p>
          <p><i class="fab fa-gripfire"></i>Opened 6 weeks ago</p>
      </section>
      <section>
        
          <img src="assets/img/rabbit.jpeg" alt="Dish">
          <h3>Citrus & Salt</h3>
        
          <ul>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star-half-alt"></i></li>
            <li><i class="far fa-star"></i></li>
            <li>27 Reviews</li>
          </ul>
          <p>$$ Cocktail Bars, Mexican</p>
          <p>Back Bay</p>
          <p><i class="fab fa-gripfire"></i>Opened 6 weeks ago</p>
      </section>
      <span>See more hot and new businesses</span>
    </section>
    <section>
      <h2>Browse Businesses by Category</h2>
      <section>
          <img src="assets/img/rabbit.jpeg" alt="Cutlery"><span>Restaurants</span>
      </section>
      <section>
          <img src="assets/img/rabbit.jpeg" alt="Bag"><span>Shopping</span>     
      </section>
      <section>
          <img src="assets/img/rabbit.jpeg" alt="Cocktail glass"><span>Nightlife</span>    
      </section>
      <section>
          <img src="assets/img/rabbit.jpeg" alt="Soccer Ball"><span>Active Life</span>
        
      </section>
    </section>
  </body>
</html>
